

{% extends "base.html" %}

{% block title %}
Create / Update Card
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.is_superuser %}

<div class="my-5 text-center">
    {{user.id}}
    <h1>Create / Update Lesson</h1>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Add / Update Lesson:</h1>

        {% if form.errors %}
        <div class="alert alert-danger my-5">
            {% if form.errors.lessonName %}
            lessonName - {{form.errors.lessonName.as_text}} <br>
            {% endif %}
        </div>
        {% endif %}
        <form method="POST">{% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-sm btn-success my-5" type="submit" >Submit</button>
            <!-- <a href="{% url 'cards.list' %}" class="btn btn-sm btn-secondary">Cancel</a> -->
            <a href="javascript:history.back()" class="btn btn-sm btn-secondary" >Go Back</a>
        </form>
        
        
    </div>
    
    <div class="col-md-3"></div>
</div>


<style>
    ul.errorlist {
    display: none;
}
</style>
{%else%}
<h1 class="custom-text-center" >
    Invalid Request.. <br>
    <a href="{% url 'cards.list' %}" class="btn btn-outline-dark" > Click Me 😇 to redirect..</a>
</h1>
{%endif%}
{%endif%}
{% endblock %}